* {
  margin: 0;
  padding: 0;
}
#collegemain {
  background-color: #60c0c5;
  /*width: 50%;*/
  min-width: 400px;
  min-height: 400px;
}
#collegemain > div {
  height: 50px;
  margin-top: 24px;
  overflow: hidden;
  width: 90%;
  margin: 30px auto;
}
#collegemain > div input {
  height: 67px;
  margin-top: 10px;
  border-radius: 4px;
}
#collegemain > div button {
  width: 100px;
  float: right;
  margin-right: 30px;
}
#slideright {
  background-color: #60c0c5;
  visibility: hidden;
  -webkit-transition: ease-out 0.36s;
  -moz-transition: ease-out 0.36s;
  -ms-transition: ease-out 0.36s;
  -o-transition: ease-out 0.36s;
  transition: ease-out 0.36s;
}
#slideright ul {
  width: 100%;
}
#slideright ul li {
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 2rem;
  list-style: none;
  opacity: 0.4;
}
#slideright ul li:hover {
  opacity: 1;
}
